/* BASE */

body {
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #000;
	background-color: #FFF;	
    font-size: 14px;
}

/* HEADER */

body header{
	background-color: #F9F9F9;
	border-bottom: 1px dotted #DDD;
}

.site-header{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.site-title{
	display: block;
	height: 40px;
	width: 200px;
	color: red;
}

.site-title a{
	text-decoration: none;
	color: #333;
	font-size: 32px;
}

.site-title-text{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 28px;
	font-size: 28px;
	letter-spacing: -2px;
	font-weight: bold;
}

.tagline{
	display: block;
	font-size: 10px;
	color: #333;
	width: 170px;
	height: 20px;
}

.pagination{
    margin: 10px 0px 10px 100px;
}

.pagination a{
	background: transparent;
	color: #000;
	transition: all 0.25s;
	text-decoration: none;
	font-weight: 500;
}

.pagination a:hover{
	color: #990000;
}

/* POST */

.post-index{
	width: 800px;
}

.post-index table tr{
	list-style: circle;
	font-size: 14px;
	padding: 5px;
}

.post-index table tr td:first-child{
	width: 200px;
	padding: 10px;
	color: #333;
	vertical-align: top;
}

.post-index table tr td:last-child{
	width: 600px;
	padding: 10px;
}

.post-index section{
	margin-top: 10px;
}

.post-index tr .post-index-title a,
.section-nav a{
	background: transparent;
	color: #000;
	transition: all 0.25s;
	text-decoration: none;
	font-weight: 500;
}

.post-index tr a:hover,
.section-nav a:hover{
	color: #990000;
}

.post-index blockquote {
	border-left: 1px solid #777;
	padding-left: 20px;
	font-style: italic;
	font-size: 14px;
	font-weight: 500;
}

/* UTILITIES */

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

/* HTML Elements */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

strong {
	font-weight: 700;
}

p {
	line-height: 1.5em;
}

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* Article HTML */
.posts header{
	
}

.post-title{
	position: relative;
	display: inline-block;
	font-size: 28px;
	width: 788px;
	padding-left: 5px;
	font-weight: 500;
	vertical-align: bottom;
}
.post .content{
	width:	800px;		
	margin-left: 200px;
}

.post-date{
	position: relative;
	display: block;
	font-size: 14px;
	color: #333;
	margin-left: -220px;
	text-align: right;
	width: 200px;
	height: 20px;
	line-height: 20px;
	padding: 10px;
	border-right: 1px dotted rgba(0,0,0,0.1);
}

.post .article{
	font-size: 14px;
	padding-left: 10px;
	margin-top: -40px;
}

.post .article p{
	font-size: 14px;		
	margin-top: 10px;		
	margin-bottom: 10px;		
}

.post .article img{
	
}

.post .article code{
	margin: 0 2px;
	padding: 0px 5px;
	border-radius: 3px;
	border: 1px solid #eaeaea;
	font-size: 12px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	color: #d14;
	background-color: #f7f7f9;
}

.post .article .highlight code{
	margin: 0;
	padding: 0;
	border-radius: 0px;
	border: 1px solid transparent;
	background-color: transparent;
}

.highlight{
	background-color: rgba(12,30,39,0.9);
	padding: 10px;
	border-radius: 4px;
}

.post .social{
	padding: 2px 0px;
	width: 88px;
	height: 30px;
	margin: auto;
}

.post .social a{
	text-decoration: none;
	
}
.post hr{
	margin-bottom: 10px;
}

blockquote {
	border-left: 2px solid #777;
	padding-left: 20px;
	font-style: italic;
	font-size: 18px;
	font-weight: 500;
}

.post .article a,
.post-index article a
{
	color: #fff;
	text-decoration: none;
	background-color: #888;
	border-radius: 2px;
	padding: 0px 3px;
	font-size: 13px;
}

.post .article a:hover,
.post-index article a:hover
{
	background-color: #000;
	color: #FFF;	
}

.post .article a img 
{
	background-color: transparent;
}

.post .article	img a : hover
{
	background-color: transparent;
}

.section-nav{
	font-size: 14px;
	border-top: 1px dotted rgba(0,0,0,0.2);
	border-bottom: 1px dotted rgba(0,0,0,0.2);
	padding: 5px 0px;
}

.section-comment{
	margin-top: 10px;
}

html, body {
height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;	
	margin: 0 auto -30px auto;
}

* {
	margin: 0px;
}

.footer, .push {
	height: 30px;
}

.footer{
	background: transparent url(/img/creampaper.png) top left;
	font-size: 12px;
	box-shadow: inset 0px 0px 1px #333;
}

.footer .hosted a{
	text-decoration: none;
	color: #FA3212;
	background-color: #444;
	border-radius: 10px;
	padding: 0px 5px;
}

.footer div{
	height: 30px;
	margin-left: 10px;
	line-height: 30px;
}

.error{
	font-size: 18px;
	width: 300px;
	margin: auto;
	margin-top: 150px;
}
