/* Base */

body {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #000;
  background-color: #FFF;  
}

/* Header */

body > header {
  padding: 10px 0 12px 0px;
}


.site-header{
	border-bottom: 1px dotted #DDD;
	border-bottom-style: dotted;
	padding-bottom: 5px;
}

.site-title{
	display: block;
	height: 40px;
	width: 178px;
	color: #777;	
}
.site-title-logo{
	position: relative;
	display: inline-block; 
	vertical-align: middle; 	
}
.site-title-text{
	position: relative;
	display: inline-block; 
	vertical-align: middle; 	
	height: 40px; 
	color: #000;
	font-size: 30px;
	letter-spacing: -2px;
	line-height: 35px;
	font-weight: bold;
}
.tagline{
  display: block;
  font-size: 10px;
  color: #333;
  width: 178px;
  text-align: center;
}

.post-index{
	width: 800px;
	margin: 0px 50px;
	font-size: 12px;
}

.post-index table tr{
	list-style: circle;
	font-size: 14px;
	padding: 5px;
}

.post-index table tr td:first-child{
	width: 200px;
	padding: 10px;
}

.post-index table tr td:last-child{
	width: 600px;
}

.post-index table tr span{	
	color: #999;
}

.post-index tr .post-index-title a,
.section-nav a{
	background: transparent;
	color: slateGray;
	font-weight: bold;
	transition: all 0.25s;
	text-decoration: none;
}

.post-index tr a:hover,
.section-nav a:hover{
	color: #000;
}

.post-index section{
	margin-top: -5px;
}

/* Utilities */

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

/* HTML Elements */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.5em;
}

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* Article HTML */
.posts header{
	
}

.posts-title{
	font-size: 18px;		
	font-weight: bold;
}

.posts-date{
	font-size: 10px;
	background-color: #FF5E45;
	display: inline;
	padding: 2px 2px;
	border-radius: 3px;
	color: #FFF;
	margin: 0px;
	font-weight: bold;
}

.posts .content{
	width:  800px;		
	margin-left: 100px;
}

.posts article{
	font-size: 14px;		
}

.posts article p{
	margin-top: 10px;		
	margin-bottom: 10px;		
}

.posts article img{
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2	);
}

.posts article .code{
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.posts .social{
	padding: 2px 0px;
	width: 88px;
	height: 30px;
        margin: auto;
}

.posts .social a{
	text-decoration: none;
	
}
.posts hr{
  margin-bottom: 10px;
}

blockquote {
  border-left: 2px solid #777;
  padding-left: 20px;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
}

.posts article a
{
	color: black;
	text-decoration: none;
	font-weight: normal;
	transition: all .5s;
	background-color: #7FFFDA;
	border-radius: 3px;
	padding: 0px 4px;	
}

.posts article a:hover
{
	background-color: #333;
	color: #FFF;	
}

.section-nav{
	font-size: 14px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	padding: 5px 0px;
}

* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;	
	margin: 0 auto -30px auto;
}

.footer, .push {
	height: 30px;
}

.footer{
	background: transparent url(/img/creampaper.png) top left;
	font-size: 14px;
}

.footer div{
	height: 30px;
	margin-left: 10px;
	line-height: 30px;
}