<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  
  {% if page.title %}
  	<title>{{ site.title }}: {{ page.title }}</title>
  {% else %}
  	<title>{{ site.title }}</title>
  {% endif %} 
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
  <link rel="stylesheet" href="/css/gh-fork-ribbon.css" />
  
  <link rel="icon" type="image/x-icon" href="{{ site.path }}/favicon.ico" />

  <script src="http://code.jquery.com/jquery-latest.js"></script>

  <script src="{{ site.url }}js/modernizr-2.5.3.min.js"></script>
  <script src="{{ site.url }}js/jquery.sharrre-1.3.4.min.js"></script> 
  <script src="{{ site.url }}js/common.js"></script>
  
  <script>
    function init(){
      window.addEventListener('scroll', function(){
        
        var distanceY = window.pageYOffset || document.documentElement.scrollTop,
            shrinkOn = 70;
        if (distanceY > shrinkOn) {
          $('header').addClass('smaller');
        } 
        else {
          if($('header').hasClass('smaller'))
            $('header').removeClass('smaller');        
        }
      });  
    }
    
    window.onload = init();
  </script>
  
</head>