body{
   font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
   margin: 0px;
}

.title_container{
   background-color: #CCC;
}

.site_title a,
.site_title a:hover{
   color: #910404;
   text-decoration: none;
}

.site_title{
   font-weight: bold;
   font-size: 43px;
   letter-spacing: -1px;
}

.site_tagline{
   font-size: 12px;
   margin-top: -5px;
}

.post-index-row{
   padding: 10px;
   border-bottom: 1px dotted #e2e2e2;
}

.post-index-row a {
   color: #000;
   text-decoration: none;
   transition: all 0.5s;
}

.post-index-row a:hover {
   color: red;
}

.post-index-title{
   font-size: 18px;
   font-weight: bold;
}

.post-index-date{
   color: #CCC;
}

/* Article HTML */


.post-title {
   position: relative;
   display: inline-block;
   font-size: 28px;
   font-weight: bold;
   vertical-align: bottom;
}

.post-date{
    color: #BBB;
}

.post-footer{
   padding: 10px;
}

pre{
   padding: 10px;
   border-radius: 4px;
   background-color: #002b36;
   color: #839496;
}
