body{
   font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
   margin: 0px;
}

.title_container{
   background-color: #CCC;
}

.title_container a{
   color: #000;
   text-decoration: none;
}

.site_title{
   font-weight: bold;
   font-size: 36px;
   letter-spacing: -3px;
   padding: 5px 0px 0px 5px;
}

.site_tagline{
   font-size: 12px;
   letter-spacing: -1px;
   padding: 0px 0px 5px 5px;
   margin-top: -5px;
}

.post-index {
	width: 800px;
}

.post-index table tr {
	list-style: circle;
	font-size: 14px;
	padding: 5px;
}

.post-index table tr td:first-child {
	width: 200px;
	padding: 2px;
	color: #333;
	vertical-align: top;
}

.post-index table tr td:last-child {
	width: 600px;
	padding: 2px;
}

.post-index section {
	margin-top: 10px;
}

.post-index tr .post-index-title a,
.section-nav a {
   font-weight: bold;
	background: transparent;
	color: #000;
	transition: all 0.25s;
	text-decoration: none;
}

.post-index tr a:hover,
.section-nav a:hover {
	color: #990000;
}

.post-index blockquote {
	border-left: 1px solid #777;
	padding-left: 20px;
	font-style: italic;
	font-size: 14px;
	font-weight: 500;
}
