body{
   font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: 0px;
}

.align-right{
   text-align: right;
}
.title_container{
   background-color: #CCC;
}

.title_container a,
.title_container a:hover{
   color: #000;
   text-decoration: none;
}

.site_title{
   font-weight: bold;
   font-size: 43px;
   letter-spacing: -1px;
   padding: 5px 0px 0px 5px;
}

.site_tagline{
   font-size: 12px;
   padding: 0px 0px 5px 5px;
   margin-top: -5px;
}

.post-index-row{
   padding: 5px;
   font-size: 16px;
}

.post-index-row a {
   color: #000;
   text-decoration: none;
   transition: all 0.5s;
}

.post-index-row a:hover {
   color: red;
}

/* Article HTML */


.post-title {
   position: relative;
   display: inline-block;
   font-size: 28px;
   width: 788px;
   padding-left: 5px;
   font-weight: 500;
   vertical-align: bottom;
}

.post .content {
   width: 800px;
   margin-left: 200px;
}

.post-date {
   position: relative;
   display: block;
   font-size: 14px;
   color: #333;
   margin-left: -220px;
   text-align: right;
   width: 200px;
   height: 20px;
   line-height: 20px;
   padding: 10px;
   border-right: 1px dotted rgba(0, 0, 0, 0.1);
}

.post .article {
   font-size: 14px;
   padding-left: 10px;
   margin-top: -40px;
}

.post .article p {
   font-size: 16px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.post .article img {
   margin: 15px;
}

.post .social {
   padding: 2px 0px;
   width: 88px;
   height: 30px;
   margin: auto;
}

.post .social a {
   text-decoration: none;
}

.post hr {
   margin-bottom: 10px;
}

blockquote {
   border-left: 2px solid #777;
   padding-left: 20px;
   font-style: italic;
   font-size: 18px;
   font-weight: 500;
}

.article a{
   color: red;
   text-decoration: none;
   background-color: transparent;
   border-radius: 2px;
   padding: 0px 3px;
   font-size: 13px;
   transition: all 1s;
}

.article a:hover{
   background-color: red;
   color: #FFF;
}

.article a img {
   background-color: transparent;
}

.article img a: hover {
   background-color: transparent;
}

pre{
   background-color: #F5F5F5;
   padding: 10px;
   border-radius: 4px;
}
