<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>{{ title }}</title>
   <meta name="description" content="{{ description }}">
   <link href="/styles/style.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
   {{> header}}
   <div class='post-index'>
      <table>
         <tr>
            <td></td>
            <td><h4>Posts</h4></td>
         </tr>
         {{#each collections.posts }}
         <tr>
            <td class="align-right"><span>{{ this.date }}&nbsp;</span></td>
            <td style="border-top: 1px dotted #CCC;">
               <div class="align-left post-index-title">
                  <a href="{{ this.path }}">{{ this.title }}</a>
               </div>
               {{#if this.excerpt}}
               {{ this.excerpt}}
               {{/if}}
            </td>
         </tr>
         {{/each}}
      </table>
   </div>
   {{>livereload}}
</body>
</html>
