{{>head}}
{{>header}}

<div class='container-fluid'>
   <div class="row">
      <div class="col-md-4">
         <div>{{date date }}</div>
      </div>
      <div class="col-md-8">
         <div>{{ title }}</div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12 article">
         <div>
            {{{ contents }}}
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         {{#if this.previous}}
         Next: <a href='{{link this.previous.path}}'>{{this.previous.title}}</a>
         {{/if}}
         <br>
         {{#if this.next}}
         Previous: <a href='{{link this.next.path}}'>{{this.next.title}}</a>
         {{/if}}
      </div>
   </div>

   <div class="row">
      <div class="col-md-12">
         {{>comment}}
      </div>
   </div>

</div>
{{>foot}}
