<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>{{ title }}</title>
   <meta name="description" content="{{ description }}">
   <link href="/styles/style.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
   {{>header}}
   <time>{{ date }}</time>
   <h2>{{ title }}</h2>


   {{{ contents }}}


   {{#if this.previous}}
   Next: <a href='{{link this.previous.path}}'>{{this.previous.title}}</a>
   {{/if}}

   {{#if this.next}}
   Previous: <a href='{{link this.next.path}}'>{{this.next.title}}</a>
   {{/if}}

   {{>livereload}}
</body>
</html>
