---
layout: default
---
{% include header.html %}

<section class="post">
	<div class="content">
		<div class="post-date">{{ page.date | date: "%b  &middot; %d &middot; %Y" }}&nbsp;</div>			
		
		<div class="article">    		
          	{{ content }}          	          	
		</div>
        
 		<br>       

 		{% if page.social %}
			<div class="social">
				<div id="shareme" data-url="{{site.url}}{{page.url}}" data-text="{{page.title}}"></div>
			</div>	
		{% endif %}
				
		{% if page.nonav %}		
		
		{% else %}
			{% include section_nav.html %}
		{% endif %}			
		
        {% if page.comments %}
			{% include comment.html %}
		{% endif %}                           

    </div>
</section>
