---
layout: default
---

<section class="posts">
	<div class="content">
		<header>
			<div class="posts-date">{{ page.date | date: "%B %d, %Y" }}</div>
			{% if page.titlelink %}
				<div class="posts-title"><a href="{{ page.titlelink }}">{{ page.title }}</a></div>			
			{% else %}
				<div class="posts-title">{{ page.title }}</div>				
			{% endif %}
		</header>
		
		<article>    		
          	{{ content }}          	          	
        </article>
        
 		<br>       
 		
 		{% if page.social %}
			<div class="social">
				<div id="shareme" data-url="{{site.path}}{{page.url}}" data-text="{{page.title}}"></div>
			</div>	
		{% endif %}
				
		{% if page.nonav %}		
		
		{% else %}
			{% include section_nav.html %}
		{% endif %}			
		
        {% if page.comments %}
			{% include comment.html %}
		{% endif %}                           
    </div>
</section>
